<section id="about">
    <div class="container-fluid bg-light">
        <div class="row d-flex justify-content-center">
            <h1 class="text-primary">About</h1>
        </div>
        <div class="row">
            <div class="col-md-4 m-5">
                <div class="card border-0">
                    <div class="card-title">
                        <h4>" Failure Is The Condiment That Gives Sucess It'S Flavour "</h4>
                    </div>
                    <div class="card-body">
                        <p>
                            My name is Ajith D and I am 20 years old. I am currently pursuing my Engineering degree(Btech) in Computer Science from College of Engineering and Management Punnapra which is under Kerala Technical University(KTU)
                            I am calm,hardworking and responsible. My most appreciated quality is dedication. As I am from Kerala,my mothertongue is Malayalam in which I am fluent enough.I also speak English.I am good at programming and have keen interest in technology.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 ml-5 d-flex justify-content-center">
                <div class="card m-5 border-0" style="width: 20rem; border-radius: 50%">
                    <img
                      class="card-img-top"
                      src="assets\profile-removebg-preview.png"
                      alt=""
                      style="border-radius: 50%"
                    />
                    <div class="card-footer border-0 bg-light">
                        <div class="row d-flex justify-content-center">
                            <a class="mx-3" target="_blank" href="https://www.linkedin.com/in/ajith-d-0194431b5"><i class="fa-brands fa-linkedin fa-lg"></i></a>
                            <a class="mx-3" target="_blank" href="https://www.facebook.com/profile.php?id=100037743652992/"><i class="fa-brands fa-facebook fa-lg"></i></a>
                            <a class="mx-3" target="_blank" href="https://www.facebook.com/profile.php?id=100037743652992/"><i class="fa-brands fa-square-instagram fa-lg"></i></a>
                            <a class="mx-3" target="_blank" href="https://twitter.com/AjithD47448694/"><i class="fa-brands fa-twitter fa-lg"></i></a>
                            <a class="mx-3" target="_blank" href="https://github.com/mr-speedster"><i class="fa-brands fa-github fa-lg"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>