<section class="header">
    <div id="header" class="row m-0 py-5">
        <div class="col-md-4  d-flex justify-content-center my-5 ml-5">
          <div class="card my-5" style="width: 18rem; border-radius: 50%">
            <img
              class="card-img-top profile-img"
              src="https://mr-speedster.github.io/MyWeb/assets/img/profile-img.jpg"
              alt=""
            />
          </div>
        </div>
        <div class="col-md-6 my-5 p-5">
          <div class="row py-5">
            <div class="">
              <h1 class="text-light">Ajith D</h1>
            </div>
          </div>
          <div class="row">
            <div class="">
              <h1 class="text-light">I'm a Developer</h1>
            </div>
          </div>
        </div>
      </div>
      
</section>