<section id="service">
    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <h1 class="text-primary">Services</h1>
        </div>
        <div class="row m-5">
            <div class="col-md-6">
                <ul class="list-group list-group-flush">
                    <h5><li class="list-group-item">Web Development</li></h5>
                    <h5><li class="list-group-item">Web API</li></h5>
                    <h5><li class="list-group-item">Rest API</li></h5>
                    <h5><li class="list-group-item">Cloud Service</li></h5>
                    <h5><li class="list-group-item">Hosting</li></h5>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="list-group list-group-flush">
                    <h5><li class="list-group-item">Android Development</li></h5>
                    <h5><li class="list-group-item">iOS Development</li></h5>
                    <h5><li class="list-group-item">Online Marketing</li></h5>
                    <h5><li class="list-group-item">Content Creating</li></h5>
                    <h5><li class="list-group-item">Video Editing</li></h5>
                </ul>
            </div>
        </div>
    </div>
</section>