<section id="skill">
    <div class="container-fluid bg-light">
        <div class="row d-flex justify-content-center">
            <h1 class="text-primary mt-5 ">Skill</h1>
        </div>
        <div class="row d-flex justify-content-center my-4">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-6 my-2">
                        <div class="form-group">
                            <label for="formControlRange">Laravel</label>
                            <input type="range" value="90" class="form-control-range" id="formControlRange" style="pointer-events: none;">
                        </div>
                    </div>
                    <div class="col-md-6 my-2">
                        <div class="form-group">
                            <label for="formControlRange">Python Programming</label>
                            <input type="range" value="92" class="form-control-range" id="formControlRange" style="pointer-events: none;">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 my-2">
                        <div class="form-group">
                            <label for="formControlRange">Django</label>
                            <input type="range" value="75" class="form-control-range" id="formControlRange" style="pointer-events: none;">
                        </div>
                    </div>
                    <div class="col-md-6 my-2">
                        <div class="form-group">
                            <label for="formControlRange">Express</label>
                            <input type="range" value="70" class="form-control-range" id="formControlRange" style="pointer-events: none;">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 my-2">
                        <div class="form-group">
                            <label for="formControlRange">Machine Learning</label>
                            <input type="range" value="80" class="form-control-range" id="formControlRange" style="pointer-events: none;">
                        </div>
                    </div>
                    <div class="col-md-6 my-2">
                        <div class="form-group">
                            <label for="formControlRange">Artificial Intelligence</label>
                            <input type="range" value="60" class="form-control-range" id="formControlRange" style="pointer-events: none;">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 my-2">
                        <div class="form-group">
                            <label for="formControlRange">Git</label>
                            <input type="range" value="90" class="form-control-range" id="formControlRange" style="pointer-events: none;">
                        </div>
                    </div>
                    <div class="col-md-6 my-2">
                        <div class="form-group">
                            <label for="formControlRange">Linux</label>
                            <input type="range" value="80" class="form-control-range" id="formControlRange" style="pointer-events: none;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>